<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">La Boutique Francaise</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Nos Produits<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Qui sommes-nous ?<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div class="navbar-item-custom">
            {% if app.user %}
                <a href="{{ path('account') }}">Mon Compte <small>{{ app.user.firstName }}</small> </a> | <a href="{{ path('app_logout') }}"> Deconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion </a> | <a href="{{ path('register') }}"> Inscription</a>
            {% endif %}
        </div>
    </nav>
</header>